#=================================================================#
#=================== Змінні для Proxmox ==========================#

proxmox_api_url = "https://pve.a3888s.pp.ua/api2/json" # URL для підключення до Proxmox API
proxmox_api_token_id = "terraform@pam!terraform"       # Ідентифікатор токена для доступу
proxmox_api_token_secret = "7a1d7913-4822-4d33-ace6-fe0f0506c3b6" # Секретний ключ токена

#=================================================================#
#=================== Змінні для Kamailio Node 1 ==================#

kamailio_node_1_target_node          = "pve"                          # Вузол Proxmox, де буде розміщено VM
kamailio_node_1_vmid                 = 1000                           # Унікальний ідентифікатор VM
kamailio_node_1_desc                 = "Cloudinit Ubuntu 24.04"       # Опис віртуальної машини
kamailio_node_1_clone                = "ubuntu-24.04-minimal-cloudimg-amd64" # Шаблон для клонування
kamailio_node_1_agent                = 0                              # Використання QEMU Agent (0 - вимкнено)
kamailio_node_1_os_type              = "cloud-init"                   # Тип ОС
kamailio_node_1_cores                = 2                              # Кількість ядер процесора
kamailio_node_1_sockets              = 1                              # Кількість сокетів процесора
kamailio_node_1_memory               = 2048                           # Обсяг оперативної пам'яті (у МБ)
kamailio_node_1_name                 = "kamailio-node-1"               # Ім'я віртуальної машини
kamailio_node_1_ipconfig0            = "ip=10.0.0.30/24,gw=10.0.0.1"  # Мережеві налаштування (IP та шлюз)
kamailio_node_1_ciuser               = "a3888s"                       # Користувач для Cloud-Init
kamailio_node_1_nameserver           = "10.0.0.1"                     # DNS-сервер
kamailio_node_1_sshkeys              = <<EOF
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCWHMuptktUTjQjWmvQhTqA7vvA4NCqaoOQLEk+pGuLVsLxC2oVlDdwgSDMOHMKCdBAVHRRgAFaQvqFNpBN/SJUaVDnCNfC0vP5y5nPyeuCs7JBSp6n48vsi5BnbD3FC2nBRXvdU3ghJ4r2OMxAadSllBuG+c8UzShCpdkUuBxmw7N62NduR2ohjePhpVmmjyG3dFeGu/ptJZ2Xi4p9papj/jZnG6+piiv0KAWy8ynWP/RjvgleEyQ2n5ghsXYuXoVlinQhw0ESWi3lHqjxfDdGE4rZcs/TZWKT2HrbxqwbpdsHftUwJBjXh5U39tn7ZaCnOh+cvqbjKeyA+rypv8vVACxHrzSuFI/Zw3gnF3gF6afvtrGzwszMEm+BtAmajEg85EZLNtiFG4h8eAVHM8A2TkOOvhxS5iML6p1+Y8F/0brM17hKqhd92BEkRtreo37TPZoPLzW83K4lO6dVaZ2TiWFejf/NJ6pJHR978NsCpXwJ+FSxmCTfS3gP5c8qg+iJGzrZ7K+BZYK+b8JnWLYA1gHCuecfcqizwp3D1c/EbRP+eiILF2RoF3ahO1fHzL7RCiJwjcQn5CWUHoQSnLh+/MUgCFnXF+GzuHq/d7eYo6kuNFIHOlJgsyUXocG9didqv/FTxTBCbFs3zarM4FWw0sgnZ1C9+d0f+h5TLYC08Q== sowdirect@gmail.com
EOF
kamailio_node_1_disk_storage         = "pve_storage"                  # Сховище для дисків
kamailio_node_1_disk_size            = 60                             # Розмір диска (у ГБ)
kamailio_node_1_cloudinit_cdrom_storage = "pve_storage"               # Сховище для Cloud-Init CD-ROM
kamailio_node_1_scsihw               = "virtio-scsi-single"           # Тип контролера SCSI
kamailio_node_1_bootdisk             = "scsi0"                        # Завантажувальний диск

#=================================================================#
#=================== Змінні для FreeSwitch Node 1 ================#

freeswitch_node_1_target_node          = "pve"                          # Вузол Proxmox, де буде розміщено VM
freeswitch_node_1_vmid                 = 1001                           # Унікальний ідентифікатор VM
freeswitch_node_1_desc                 = "Cloudinit Debian"       # Опис віртуальної машини
freeswitch_node_1_clone                = "debian-template" # Шаблон для клонування
freeswitch_node_1_agent                = 0                              # Використання QEMU Agent (0 - вимкнено)
freeswitch_node_1_os_type              = "cloud-init"                   # Тип ОС
freeswitch_node_1_cores                = 2                              # Кількість ядер процесора
freeswitch_node_1_sockets              = 1                              # Кількість сокетів процесора
freeswitch_node_1_memory               = 2048                           # Обсяг оперативної пам'яті (у МБ)
freeswitch_node_1_name                 = "freeswitch-node-1"              # Ім'я віртуальної машини
freeswitch_node_1_ipconfig0            = "ip=10.0.0.31/24,gw=10.0.0.1"  # Мережеві налаштування (IP та шлюз)
freeswitch_node_1_ciuser               = "a3888s"                       # Користувач для Cloud-Init
freeswitch_node_1_nameserver           = "10.0.0.1"                     # DNS-сервер
freeswitch_node_1_sshkeys              = <<EOF
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCWHMuptktUTjQjWmvQhTqA7vvA4NCqaoOQLEk+pGuLVsLxC2oVlDdwgSDMOHMKCdBAVHRRgAFaQvqFNpBN/SJUaVDnCNfC0vP5y5nPyeuCs7JBSp6n48vsi5BnbD3FC2nBRXvdU3ghJ4r2OMxAadSllBuG+c8UzShCpdkUuBxmw7N62NduR2ohjePhpVmmjyG3dFeGu/ptJZ2Xi4p9papj/jZnG6+piiv0KAWy8ynWP/RjvgleEyQ2n5ghsXYuXoVlinQhw0ESWi3lHqjxfDdGE4rZcs/TZWKT2HrbxqwbpdsHftUwJBjXh5U39tn7ZaCnOh+cvqbjKeyA+rypv8vVACxHrzSuFI/Zw3gnF3gF6afvtrGzwszMEm+BtAmajEg85EZLNtiFG4h8eAVHM8A2TkOOvhxS5iML6p1+Y8F/0brM17hKqhd92BEkRtreo37TPZoPLzW83K4lO6dVaZ2TiWFejf/NJ6pJHR978NsCpXwJ+FSxmCTfS3gP5c8qg+iJGzrZ7K+BZYK+b8JnWLYA1gHCuecfcqizwp3D1c/EbRP+eiILF2RoF3ahO1fHzL7RCiJwjcQn5CWUHoQSnLh+/MUgCFnXF+GzuHq/d7eYo6kuNFIHOlJgsyUXocG9didqv/FTxTBCbFs3zarM4FWw0sgnZ1C9+d0f+h5TLYC08Q== sowdirect@gmail.com
EOF
freeswitch_node_1_disk_storage         = "pve_storage"                  # Сховище для дисків
freeswitch_node_1_disk_size            = 60                             # Розмір диска (у ГБ)
freeswitch_node_1_cloudinit_cdrom_storage = "pve_storage"               # Сховище для Cloud-Init CD-ROM
freeswitch_node_1_scsihw               = "virtio-scsi-single"           # Тип контролера SCSI
freeswitch_node_1_bootdisk             = "scsi0"                        # Завантажувальний диск

#=================================================================#
#=================== Змінні для PostgreSQL Node 1 ================#

postgresql_node_1_target_node          = "pve"                          # Вузол Proxmox, де буде розміщено VM
postgresql_node_1_vmid                 = 1002                           # Унікальний ідентифікатор VM
postgresql_node_1_desc                 = "Cloudinit Ubuntu 24.04"       # Опис віртуальної машини
postgresql_node_1_clone                = "ubuntu-24.04-minimal-cloudimg-amd64" # Шаблон для клонування
postgresql_node_1_agent                = 0                              # Використання QEMU Agent (0 - вимкнено)
postgresql_node_1_os_type              = "cloud-init"                   # Тип ОС
postgresql_node_1_cores                = 2                              # Кількість ядер процесора
postgresql_node_1_sockets              = 1                              # Кількість сокетів процесора
postgresql_node_1_memory               = 2048                           # Обсяг оперативної пам'яті (у МБ)
postgresql_node_1_name                 = "postgresql-node-1"              # Ім'я віртуальної машини
postgresql_node_1_ipconfig0            = "ip=10.0.0.32/24,gw=10.0.0.1"  # Мережеві налаштування (IP та шлюз)
postgresql_node_1_ciuser               = "a3888s"                       # Користувач для Cloud-Init
postgresql_node_1_nameserver           = "10.0.0.1"                     # DNS-сервер
postgresql_node_1_sshkeys              = <<EOF
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCWHMuptktUTjQjWmvQhTqA7vvA4NCqaoOQLEk+pGuLVsLxC2oVlDdwgSDMOHMKCdBAVHRRgAFaQvqFNpBN/SJUaVDnCNfC0vP5y5nPyeuCs7JBSp6n48vsi5BnbD3FC2nBRXvdU3ghJ4r2OMxAadSllBuG+c8UzShCpdkUuBxmw7N62NduR2ohjePhpVmmjyG3dFeGu/ptJZ2Xi4p9papj/jZnG6+piiv0KAWy8ynWP/RjvgleEyQ2n5ghsXYuXoVlinQhw0ESWi3lHqjxfDdGE4rZcs/TZWKT2HrbxqwbpdsHftUwJBjXh5U39tn7ZaCnOh+cvqbjKeyA+rypv8vVACxHrzSuFI/Zw3gnF3gF6afvtrGzwszMEm+BtAmajEg85EZLNtiFG4h8eAVHM8A2TkOOvhxS5iML6p1+Y8F/0brM17hKqhd92BEkRtreo37TPZoPLzW83K4lO6dVaZ2TiWFejf/NJ6pJHR978NsCpXwJ+FSxmCTfS3gP5c8qg+iJGzrZ7K+BZYK+b8JnWLYA1gHCuecfcqizwp3D1c/EbRP+eiILF2RoF3ahO1fHzL7RCiJwjcQn5CWUHoQSnLh+/MUgCFnXF+GzuHq/d7eYo6kuNFIHOlJgsyUXocG9didqv/FTxTBCbFs3zarM4FWw0sgnZ1C9+d0f+h5TLYC08Q== sowdirect@gmail.com
EOF
postgresql_node_1_disk_storage         = "pve_storage"                  # Сховище для дисків
postgresql_node_1_disk_size            = 60                             # Розмір диска (у ГБ)
postgresql_node_1_cloudinit_cdrom_storage = "pve_storage"               # Сховище для Cloud-Init CD-ROM
postgresql_node_1_scsihw               = "virtio-scsi-single"           # Тип контролера SCSI
postgresql_node_1_bootdisk             = "scsi0"                        # Завантажувальний диск

#=================================================================#
#=================== Змінні для RTPEngine Node 1 =================#

rtpengine_node_1_target_node          = "pve"                          # Вузол Proxmox, де буде розміщено VM
rtpengine_node_1_vmid                 = 1003                           # Унікальний ідентифікатор VM
rtpengine_node_1_desc                 = "Cloudinit Ubuntu 22.04"       # Опис віртуальної машини
rtpengine_node_1_clone                = "ubuntu-22.04-minimal-cloudimg-amd64" # Шаблон для клонування
rtpengine_node_1_agent                = 0                              # Використання QEMU Agent (0 - вимкнено)
rtpengine_node_1_os_type              = "cloud-init"                   # Тип ОС
rtpengine_node_1_cores                = 2                              # Кількість ядер процесора
rtpengine_node_1_sockets              = 1                              # Кількість сокетів процесора
rtpengine_node_1_memory               = 2048                           # Обсяг оперативної пам'яті (у МБ)
rtpengine_node_1_name                 = "rtpengine-node-1"              # Ім'я віртуальної машини
rtpengine_node_1_ipconfig0            = "ip=10.0.0.33/24,gw=10.0.0.1"  # Мережеві налаштування (IP та шлюз)
rtpengine_node_1_ciuser               = "a3888s"                       # Користувач для Cloud-Init
rtpengine_node_1_nameserver           = "10.0.0.1"                     # DNS-сервер
rtpengine_node_1_sshkeys              = <<EOF
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCWHMuptktUTjQjWmvQhTqA7vvA4NCqaoOQLEk+pGuLVsLxC2oVlDdwgSDMOHMKCdBAVHRRgAFaQvqFNpBN/SJUaVDnCNfC0vP5y5nPyeuCs7JBSp6n48vsi5BnbD3FC2nBRXvdU3ghJ4r2OMxAadSllBuG+c8UzShCpdkUuBxmw7N62NduR2ohjePhpVmmjyG3dFeGu/ptJZ2Xi4p9papj/jZnG6+piiv0KAWy8ynWP/RjvgleEyQ2n5ghsXYuXoVlinQhw0ESWi3lHqjxfDdGE4rZcs/TZWKT2HrbxqwbpdsHftUwJBjXh5U39tn7ZaCnOh+cvqbjKeyA+rypv8vVACxHrzSuFI/Zw3gnF3gF6afvtrGzwszMEm+BtAmajEg85EZLNtiFG4h8eAVHM8A2TkOOvhxS5iML6p1+Y8F/0brM17hKqhd92BEkRtreo37TPZoPLzW83K4lO6dVaZ2TiWFejf/NJ6pJHR978NsCpXwJ+FSxmCTfS3gP5c8qg+iJGzrZ7K+BZYK+b8JnWLYA1gHCuecfcqizwp3D1c/EbRP+eiILF2RoF3ahO1fHzL7RCiJwjcQn5CWUHoQSnLh+/MUgCFnXF+GzuHq/d7eYo6kuNFIHOlJgsyUXocG9didqv/FTxTBCbFs3zarM4FWw0sgnZ1C9+d0f+h5TLYC08Q== sowdirect@gmail.com
EOF
rtpengine_node_1_disk_storage         = "pve_storage"                  # Сховище для дисків
rtpengine_node_1_disk_size            = 60                             # Розмір диска (у ГБ)
rtpengine_node_1_cloudinit_cdrom_storage = "pve_storage"               # Сховище для Cloud-Init CD-ROM
rtpengine_node_1_scsihw               = "virtio-scsi-single"           # Тип контролера SCSI
rtpengine_node_1_bootdisk             = "scsi0"                        # Завантажувальний диск

#=================================================================#
#=================== Змінні для Homer Node 1 =================#

homer_node_1_target_node          = "pve"                          # Вузол Proxmox, де буде розміщено VM
homer_node_1_vmid                 = 1004                           # Унікальний ідентифікатор VM
homer_node_1_desc                 = "Cloudinit Ubuntu 24.04"       # Опис віртуальної машини
homer_node_1_clone                = "ubuntu-24.04-minimal-cloudimg-amd64" # Шаблон для клонування
homer_node_1_agent                = 0                              # Використання QEMU Agent (0 - вимкнено)
homer_node_1_os_type              = "cloud-init"                   # Тип ОС
homer_node_1_cores                = 2                              # Кількість ядер процесора
homer_node_1_sockets              = 1                              # Кількість сокетів процесора
homer_node_1_memory               = 2048                          # Обсяг оперативної пам'яті (у МБ)
homer_node_1_name                 = "homer-node-1"              # Ім'я віртуальної машини
homer_node_1_ipconfig0            = "ip=10.0.0.34/24,gw=10.0.0.1"  # Мережеві налаштування (IP та шлюз)
homer_node_1_ciuser               = "a3888s"                       # Користувач для Cloud-Init
homer_node_1_nameserver           = "10.0.0.1"                     # DNS-сервер
homer_node_1_sshkeys              = <<EOF
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCWHMuptktUTjQjWmvQhTqA7vvA4NCqaoOQLEk+pGuLVsLxC2oVlDdwgSDMOHMKCdBAVHRRgAFaQvqFNpBN/SJUaVDnCNfC0vP5y5nPyeuCs7JBSp6n48vsi5BnbD3FC2nBRXvdU3ghJ4r2OMxAadSllBuG+c8UzShCpdkUuBxmw7N62NduR2ohjePhpVmmjyG3dFeGu/ptJZ2Xi4p9papj/jZnG6+piiv0KAWy8ynWP/RjvgleEyQ2n5ghsXYuXoVlinQhw0ESWi3lHqjxfDdGE4rZcs/TZWKT2HrbxqwbpdsHftUwJBjXh5U39tn7ZaCnOh+cvqbjKeyA+rypv8vVACxHrzSuFI/Zw3gnF3gF6afvtrGzwszMEm+BtAmajEg85EZLNtiFG4h8eAVHM8A2TkOOvhxS5iML6p1+Y8F/0brM17hKqhd92BEkRtreo37TPZoPLzW83K4lO6dVaZ2TiWFejf/NJ6pJHR978NsCpXwJ+FSxmCTfS3gP5c8qg+iJGzrZ7K+BZYK+b8JnWLYA1gHCuecfcqizwp3D1c/EbRP+eiILF2RoF3ahO1fHzL7RCiJwjcQn5CWUHoQSnLh+/MUgCFnXF+GzuHq/d7eYo6kuNFIHOlJgsyUXocG9didqv/FTxTBCbFs3zarM4FWw0sgnZ1C9+d0f+h5TLYC08Q== sowdirect@gmail.com
EOF
homer_node_1_disk_storage         = "pve_storage"                  # Сховище для дисків
homer_node_1_disk_size            = 60                             # Розмір диска (у ГБ)
homer_node_1_cloudinit_cdrom_storage = "pve_storage"               # Сховище для Cloud-Init CD-ROM
homer_node_1_scsihw               = "virtio-scsi-single"           # Тип контролера SCSI
homer_node_1_bootdisk             = "scsi0"                        # Завантажувальний диск

#=================================================================#
#=================== Змінні для Redis Node 1 =================#

redis_node_1_target_node          = "pve"                          # Вузол Proxmox, де буде розміщено VM
redis_node_1_vmid                 = 1006                           # Унікальний ідентифікатор VM
redis_node_1_desc                 = "Cloudinit Ubuntu 24.04"       # Опис віртуальної машини
redis_node_1_clone                = "ubuntu-24.04-minimal-cloudimg-amd64" # Шаблон для клонування
redis_node_1_agent                = 0                              # Використання QEMU Agent (0 - вимкнено)
redis_node_1_os_type              = "cloud-init"                   # Тип ОС
redis_node_1_cores                = 2                              # Кількість ядер процесора
redis_node_1_sockets              = 1                              # Кількість сокетів процесора
redis_node_1_memory               = 2048                          # Обсяг оперативної пам'яті (у МБ)
redis_node_1_name                 = "redis-node-1"              # Ім'я віртуальної машини
redis_node_1_ipconfig0            = "ip=10.0.0.36/24,gw=10.0.0.1"  # Мережеві налаштування (IP та шлюз)
redis_node_1_ciuser               = "a3888s"                       # Користувач для Cloud-Init
redis_node_1_nameserver           = "10.0.0.1"                     # DNS-сервер
redis_node_1_sshkeys              = <<EOF
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCWHMuptktUTjQjWmvQhTqA7vvA4NCqaoOQLEk+pGuLVsLxC2oVlDdwgSDMOHMKCdBAVHRRgAFaQvqFNpBN/SJUaVDnCNfC0vP5y5nPyeuCs7JBSp6n48vsi5BnbD3FC2nBRXvdU3ghJ4r2OMxAadSllBuG+c8UzShCpdkUuBxmw7N62NduR2ohjePhpVmmjyG3dFeGu/ptJZ2Xi4p9papj/jZnG6+piiv0KAWy8ynWP/RjvgleEyQ2n5ghsXYuXoVlinQhw0ESWi3lHqjxfDdGE4rZcs/TZWKT2HrbxqwbpdsHftUwJBjXh5U39tn7ZaCnOh+cvqbjKeyA+rypv8vVACxHrzSuFI/Zw3gnF3gF6afvtrGzwszMEm+BtAmajEg85EZLNtiFG4h8eAVHM8A2TkOOvhxS5iML6p1+Y8F/0brM17hKqhd92BEkRtreo37TPZoPLzW83K4lO6dVaZ2TiWFejf/NJ6pJHR978NsCpXwJ+FSxmCTfS3gP5c8qg+iJGzrZ7K+BZYK+b8JnWLYA1gHCuecfcqizwp3D1c/EbRP+eiILF2RoF3ahO1fHzL7RCiJwjcQn5CWUHoQSnLh+/MUgCFnXF+GzuHq/d7eYo6kuNFIHOlJgsyUXocG9didqv/FTxTBCbFs3zarM4FWw0sgnZ1C9+d0f+h5TLYC08Q== sowdirect@gmail.com
EOF
redis_node_1_disk_storage         = "pve_storage"                  # Сховище для дисків
redis_node_1_disk_size            = 60                             # Розмір диска (у ГБ)
redis_node_1_cloudinit_cdrom_storage = "pve_storage"               # Сховище для Cloud-Init CD-ROM
redis_node_1_scsihw               = "virtio-scsi-single"           # Тип контролера SCSI
redis_node_1_bootdisk             = "scsi0"                        # Завантажувальний диск